@import "src/assets/styles/abstracts/mixin.scss";

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 2rem;
  color: #000;
  border-radius: 0.5rem;
  border: 1px solid $black;
  // size
  &-full {
    width: 100%;
    font-size: 1.8rem;
  }

  // color
  &-red-line {
    background-color: $white;
    color: $red1;
    border: 1px solid $red1;

    &:hover {
      color: $red1;
    }
    &:active {
      box-shadow: inset rgba(0, 0, 0, 0.2) 0px 0px 5px 0px;
    }
  }

  &-primary-line {
    background-color: $white;
    color: $primary;
    border: 1px solid $primary;
    
    &:hover {
      color: $primary;
    }
    &:active {
      box-shadow: inset rgba(0, 0, 0, 0.2) 0px 0px 5px 0px;
    }
  }

  &-red-fill {
    color: $white;
    background-color: $red1;
    border: 1px solid $red1;
  }

  &-blue-fill {
    color: $white;
    background-color: $primary;
    border: 1px solid $primary;
  }
  // 아이콘 반대
  &.reverse {
    flex-direction: row-reverse;
  }
}
