// margin left
.j-ml {
  &-10 {
    margin-left: 1rem;
  }
  &-16 {
    margin-left: 1.6rem;
  }
}

// margin top
.j-mt {
  &-10 {
    margin-top: 1rem;
  }
  &-20 {
    margin-top: 2rem;
  }
}

// margin bottom
.j-mb {
  &-10 {
    margin-bottom: 1rem;
  }
  &-20 {
    margin-bottom: 2rem;
  }
}
