.tab-area {
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
    margin: 2rem 0 3.5rem 0; 
    li {
        width: 25%;
        margin-left: 0.8rem;
        &:first-child {
            margin-left: 0;
        }
        a {
            width: 100%;
            padding: 1rem;
            display: inline-block;
            font-size: 1.6rem;
            font-weight: 500;
            text-align: center;
            background-color: transparent;
            border-radius: 2.5rem;
            border: 1px solid #007aff;
            color: #007aff;
            &:hover {
                background-color: #e0e0e0;
            }
        }
        &.active {
            a {
                color: $white;
                background-color: $primary;
                border: 1px solid $primary;
            }
        }
    }
    @media (#{$mobile}) {
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 1rem;
        li {
            width: auto;
            a {
                padding: 0.8rem;
                font-size: 1.2rem;
            }
        }
    }
}