@import "src/assets/styles/abstracts/mixin";
@import "src/assets/styles/abstracts/variables";

.contactus_layout_container {
  border-bottom: 1px solid #ccc;
  
  .sub_nav_bar {
    @include tablet {
      display: none;
    }
    @include mobile {
      display: none;
    }
    
    .nav_inner {
      background-color: #f0f0f0;
      
      ul {
        @include flex(flex, flex-start, center);
        width: 1170px;
        margin: 0 auto;
        padding: 8px 15px;
        
        @include tablet_m {
          width: 970px;
        }
        
        li {
          a {
            font-size: 16px;
            color: #3428c9;
            
            &:hover {
              color: #337ab7;
            }
          }
          
          span {
            font-size: 16px;
            color: #777;
            
            &.slash {
              padding: 0 0.5rem;
              color: #ccc;
            }
          }
        }
      }
    }
  }
  
  .contact_banner {
    width: 100%;
    height: 200px;
    background-image: url("../../imgs/contactus_hero_banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include flex(flex, center, center);
    
    h3 {
      @include font(20px, 600, #fff, 1.1);
      letter-spacing: 1px;
      font-family: 'Poppins', system-ui, Arial, sans-serif;
      display: none;
      
      @include tablet {
        display: block;
      }
      @include mobile {
        display: block;
      }
      
    }
  }
  
  .container {
    &.pd_t30 {
      padding-top: 3rem;
    }
    
    &.pd_bt30 {
      padding-bottom: 3rem;
    }
  }
  
  .section_inner {
    @include flex(flex, center);
    
    > div {
      width: calc(100% / 2);
      padding: 0 4rem;
      
      &:not(:last-child) {
        border-right: 1px solid #ccc;
      }
      
      > p {
        margin-bottom: 1rem;
        @include font(16px, normal, #333);
        line-height: 1.4;
        letter-spacing: 0.5px;
        
        .indented {
          padding-left: 1.5rem;
        }
        
        .indented_tech {
          padding-left: 2.1rem;
        }
        
        a {
          color: #3428c9;
        }
      }
      
      .form_group {
        margin-bottom: 2rem;
        width: 100%;
        height: 34px;
        
        input {
          width: 100%;
          height: 100%;
          padding: 0.6rem 1.2rem;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 1.4rem;
          
          &:focus {
            color: #3428c9;
            outline: none;
          }
          
          &::placeholder {
            font-size: 1.4rem;
            line-height: 1.4;
          }
        }
        
        &._textarea {
          height: auto;
        }
        
        textarea {
          overflow: auto;
          
          &.form_control {
            width: 100%;
            height: auto;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 1.4rem;
            padding: 0.6rem 1.2rem;
          }
          
          &:focus {
            color: #3428c9;
            outline: none;
            border-color: #66afe9;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
          }
        }
      }
      
      .form_check {
        .chk_box {
          display: block;
          position: relative;
          padding-left: 34px;
          margin-bottom: 10px;
          cursor: pointer;
          font-size: 16px;
          line-height: 26px;
          user-select: none;
          letter-spacing: 0.4px;
          
          a {
            color: #3428c9;
          }
          
          /* 기본 체크박스 스타일 */
          input[type="checkbox"] {
            display: none;
          }
          
          /* 체크박스 마커 스타일 */
          .on {
            width: 26px;
            height: 26px;
            border: 2px solid #ccc;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4px;
            
            &:after {
              content: "";
              position: absolute;
              display: none;
            }
          }
          
          /* 체크된 체크박스 스타일 */
          input[type="checkbox"]:checked + .on {
            background: #3428c9;
            border-color: #3428c9;
            
            &:after {
              display: block;
            }
          }
          
          /* 체크박스 마커 모양 */
          .on:after {
            width: 6px;
            height: 14px;
            content: "";
            border: solid #fff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            position: absolute;
            left: 8px;
            top: 3px;
          }
        }
      }
      
      h4 {
        @include font(18px, 600, #333);
        letter-spacing: 0.5px;
        margin: 1rem 0;
      }
    }
    
    .map_area {
      position: relative;
      max-width: 100%;
      height: 0;
      overflow: hidden;
      padding-top: 56.25%;
      
      iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
    
    .sec_title {
      text-align: left;
    }
    
    .headline {
      @include font(16px, 600, #777);
      margin: 2rem 0 1rem;
      text-transform: uppercase;
    }
  }
}