@import "src/assets/styles/abstracts/mixin";
@import "src/assets/styles/abstracts/variables";

.contactus_layout_container {
  .sub_nav_bar {
    .nav_inner {
      background-color: #f0f0f0;
      
      ul {
        @include flex(flex, flex-start, center);
        width: 1170px;
        margin: 0 auto;
        padding: 8px 15px;
        
        li {
          a {
            font-size: 16px;
            color: #3428c9;
            
            &:hover {
              color: ;
            }
          }
          
          span {
            font-size: 16px;
            color: #777;
            
            &.slash {
              padding: 0 5px;
              color: #ccc;
            }
          }
        }
      }
    }
  }
  
  .contact_banner {
    width: 100%;
    height: 200px;
    background-image: url("../../imgs/contactus_hero_banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
  }
  
  .section_inner {
    @include flex(flex, center);
    
    > div {
      width: calc(100% / 2);
    }
    
    .sec_title {
      text-align: left;
    }
  }
}