footer {
  padding: 1.5rem;
  background-color: #f0f0f0;
  
  .ft_inner {
    @include flex(flex, space-between, center);
    width: 1170px;
    margin: 0 auto;
    
    .copy_area {
      @include font(16px, 600, #333);
      padding: 0 1.5rem
      
    }
    
    .ft_links {
      @include flex(flex, center, center);
      
      li {
        a {
          @include font(1.6rem, 900, #000);
          padding: 5px;
          word-break: keep-all;
          
          i {
            color: #3b5998;
          }
        }
        
        &:not(:last-child) {
          &:after {
            content: "•";
            font-size: 1.2rem;
            vertical-align: middle;
            color: #777;
          }
        }
        
      }
    }
  }
}