header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 60px;
  background-color: $white;
  border-bottom: 1px solid #e7e7e7;
  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1170px;
    height: 100%;
    margin: 0 auto;
  }
  .logo {
    padding: 15px;
    font-size: 1.8rem;
    color: #4a4a4a;
    line-height: 2rem;
    cursor: pointer;
  }
  .dropdown-area {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .menubar-icon {
    display: none;
    font-size: 2.2rem;
    margin-left: auto;
    cursor: pointer;
    .fa-solid {
      color: $primary;
    }
  }
  ul {
    height: 100%;
    li {
      display: flex;
      align-items: center;
      margin-left: 0.8rem;
      font-size: 1.4rem;
      font-weight: 700;
      height: 100%;
      cursor: pointer;
      &:hover {
        color: $blue2;
      }
      a {
        position: relative;
        padding: 2rem 1.5rem 0 1.5rem;
        height: 100%;
        &.active {
          &:after {
            display: block;
            content: '';
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-top: 2px solid #000;
          }
        }
      }
    }
  }
}

// $pc-small 1200px
@media (#{$pc-small}) {
  header {
    .header-inner {
      width: 970px;
    }
  }
}

//$tablet 990px
@media (#{$tablet}) {
  header {
    .header-inner {
      margin: 0 auto;
      padding: 1.5rem;
      width: 75rem;
    }
    .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3rem;
      font-weight: 500;
    }
    .h-100 {
      height: auto;
    }
    .dropdown-area {
      display: none;
      position: fixed;
      top: 6rem;
      left: 0;
      z-index: 101;
      padding: 2rem 1.5rem;
      width: 100%;
      height: 34rem;
      max-height: 34rem;
      overflow: auto;
      background-color: $white;
      @include beautiful-scroll;
      &.active {
        display: block;
      }
      ul {
        display: block;
        li {
          display: block;
          padding: 0;
          padding-bottom: 1.5rem;
          margin: 0;
          font-size: 1.8rem;
          text-align: center;
          a {
            &.active {
              color: $red1;
              &:after {
                display: none;
              }
            }
          }
        }
      }
      .btn {
        display: block;
        padding: 10px;
        margin: 0;
        margin-bottom: 1rem;
        width: 100%;
        font-size: 1.8rem;
      }
    }
    .menubar-icon {
      display: block;
      padding: 1rem;
      .active {
        display: block;
      }
    }
    ul li a {
      display: inline-block;
      width: 100%; 
      height: 100%;
      padding: 1rem 1.5rem 0 1.5rem;
    }
  }
}

//$mobile 768px
@media (#{$mobile}) {
  header {
    .header-inner {
      width: 100%;
    }
  }
}
