.jobs-layout-container {
    .sec_title {
        display: none; 
    }
    .big_btn {
        display: none; 
    }
}

// jobs detail
.jobs-detail-container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    .left {
        width: 67%;
        height: 30px;
        border: 1px solid red;
        box-sizing: border-box;
    }
    .right {
        width: 33%;
        box-sizing: border-box;
    }
    @media (min-width: 1200px) and (max-width: 1920px) {
        width: 117rem;
        margin: 0 auto; 
    }
    @media (min-width: 990px) and (max-width: 1200px) {
        width: 97rem;
        margin: 0 auto; 
    }
}