@import "../abstracts/mixin";
@import "../abstracts/variables";

.add_links {
  @include mobile {
    flex-direction: column;
  }
}

.sec_list {
  padding: 1.5rem;
  border-bottom: 1px solid #ccc;
  
  .add_links {
    .thumb_area {
      width: 190px;
      height: 160px;
      padding: 0 1.5rem;
      
      @include mobile {
        width: 100%;
        height: 100%;
        padding: 0 0 1.5rem 0;
      }
      
      img {
        display: block;
        width: 100%;
      }
    }
    
    .text_area {
      width: 100%;
      
      > div {
        @include tablet_m {
          padding-bottom: 1rem;
        }
        @include tablet {
          padding-bottom: 1rem;
        }
        @include mobile {
          flex-direction: column;
        }
      }
      
      .posted_on {
        font-size: 1.2rem;
        text-transform: uppercase;
        color: #777;
        
        @include mobile {
          padding-bottom: 1rem;
        }
        
        .fas {
          display: inline-block;
        }
      }
      
      .jobtype_part_time {
        max-width: 100%;
        width: 148px;
        height: 34px;
        font-size: 1.6rem;
        font-weight: 500;
        border-radius: 25px;
        padding: 0.5rem 0.8rem;
        text-align: center;
        border: 1px solid #ffd2b2;
        background-color: #ffd2b2;
        color: #a74500;
        
        
        &:not(:last-child) {
          margin-right: 1rem;
        }
        
        @include tablet_m {
          margin-bottom: 1rem;
        }
        
        @include tablet {
          margin-bottom: 1rem;
        }
        
        @include mobile {
          width: 50%;
          height: auto;
          margin-bottom: 1rem;
        }
        
      }
      
      .jobtype_full_time {
        @extend .jobtype_part_time;
        background-color: #a6ead2;
        color: #0b6b49;
        border: 1px solid #a6ead2;
      }
      
      
      .course_desc {
        .job_tit {
          font-size: 2rem;
          font-weight: 600;
          margin: 5px 0;
          color: $primary;
          word-wrap: break-word;
          line-height: 1.1;
        }
        
        .job_desc {
          ul {
            margin-bottom: 20px;
            
            @include tablet_m {
              flex-direction: column;
              align-items: flex-start;
            }
            @include tablet {
              flex-direction: column;
              align-items: flex-start;
            }
            @include mobile {
              flex-direction: column;
              align-items: flex-start;
            }
            
            li {
              display: inline;
              color: #333;
              padding-right: 1rem;
              
              span.txt {
                font-size: 1.6rem;
                color: #333;
              }
              
              &:not(:last-child) {
                border-right: 1px solid #ccc;
              }
              
              &:not(:first-child) {
                padding-left: 1rem;
                
                @include tablet_m {
                  padding-left: 0;
                }
                @include tablet {
                  padding-left: 0;
                }
                @include mobile {
                  padding-left: 0;
                }
              }
            }
          }
          
          .salary {
            font-size: 1.4rem;
            font-weight: 500;
            color: #333;
            text-transform: uppercase;
            
            .data_salary {
              font-size: 2.4rem;
              font-weight: 900;
              margin-left: 5px;
              @include tablet_m {
                display: block;
              }
              @include tablet {
                display: block;
              }
              @include mobile {
                display: block;
              }
            }
          }
          
          .salperiod {
            font-size: 1.4rem;
            font-weight: 300;
            line-height: 1.4;
            text-transform: uppercase;
            color: #777;
            text-align: end;
          }
        }
        
      }
    }
  }
}
