@import "src/assets/styles/abstracts/mixin";
@import "src/assets/styles/abstracts/variables";

.dropdown_area {
  &.select_basic {
    position: relative;
    width: 100%;
    background-color: #fff;
    .dropdown_label {
      width: 100%;
      height: 4.6rem;
      @include flex(flex, space-between, center);
      padding: 1.2rem;
      border: 1px solid #ddd;
      border-radius: 0.4rem;

      ._label {
        @include font(1.6rem, 600, rgb(119, 119, 119), null);
      }

      ._arrow_icon {
        display: inline-block;
        width: 0;
        height: 0;
        color: #b40000;
        border-top: 4px dashed;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
      }
    }

    .dropdown_menu {
      position: absolute;
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 0.4rem;
      margin-top: 0.2rem;
      ul {
        padding: 1rem 0;
        max-height: 300px;
        overflow-y: scroll;
        @include beautiful-scroll;
        background-color: $white;

        ._item {
          padding: 1rem 1.2rem;
          cursor: pointer;
          transition: all 0.3s;

          &:hover {
            background-color: #f3f3f3;

            > span {
              color: #3428c9;
            }
          }

          .__txt {
            display: inline-block;
            @include font(1.6rem, 600, #777, null);
            margin-left: 0.5rem;
            transition: all 0.3s;
          }
        }
      }
    }
  }
}
