// ------- common ------- //
* {
  font-family: "Noto Sans", sans-serif !important;
}
html,
body {
  font-size: 10px;
  letter-spacing: -0.5px;
  font-family: "Noto Sans", sans-serif !important;
  min-width: 1900px;
}
body {
  &.no-scroll {
    overflow: hidden;
  }
}
a {
  color: inherit;
}
em {
  font-style: normal;
}
.ir {
  text-indent: -9999px;
  display: block !important;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  padding: 0;
  position: fixed;
  left: -9999px;
  white-space: nowrap;
  font-size: 1px !important;
  transform: translateX(-100px) scale(0.0001);
  z-index: -1;
}
.hidden {
  display: none !important;
}
.bold {
  font-weight: bold !important;
}
.display-block {
  display: block;
}
.display-inblock {
  display: inline-block;
}
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.wrap {
  flex-wrap: wrap;
}
.w100 {
  width: 100%;
}
.ir {
  overflow: hidden;
  text-indent: -9999px;
}

.ellipsis-one {
  @include ellipsis(1);
}
.ellipsis-two {
  @include ellipsis(2);
}

// ------- layout ------- //
.container-wrapper {
  // 공통 layout 스타일
  margin: 0 auto;
  padding: 80px 20px 0 20px;
  width: 100%;
  overflow: hidden;
  .thumbnail-container {
    margin-top: 80px;
    &:first-child {
      margin-top: 0;
    }
    .thumbnail-title {
      margin-bottom: 30px;
      text-align: center;
      font-size: 4.8rem;
      text-transform: uppercase;
      font-weight: 200;
      // 타이틀 옆 플러스 모양
      .plus {
        position: relative;
        display: inline-block;
        width: 33px;
        height: 33px;
        cursor: pointer;
        &:before {
          display: block;
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;

          width: 1px;
          height: 35px;
          background-color: #000;
          transform: translate(-50%, -50%);
        }
        &:after {
          display: block;
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 35px;
          height: 1px;
          background-color: #000;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
// exclusive 공통
// exclusive
.exclusive-container {
  margin: 100px auto 120px auto;
  width: 1880px;
  overflow: hidden;

  // slick slide
  .slick-track {
    display: flex;
  }
  .slick-slide {
    overflow: hidden;
    margin: 0 25px;
    img {
      width: 100%;
    }
  }
  .slick-list {
    margin: 0 -25px;
  }
  .slick-slide {
    display: block;
    position: relative;
    transform: scale(0.95);
    transition: transform 0.5s ease-in-out;
    &:after {
      // content: '';
      // display: block;
      // position: absolute;
      // z-index: 10;
      // top: 0;
      // bottom: 0;
      // right: 0;
      // left: 0;
      // width: 100%;
      // height: 100%;
      // background-color: rbga(0,0,0,0.5);
      // opacity: 0.8;
      // transition: background 0.5s ease-in-out;
    }
    &.slick-current {
      transform: scale(1);
    }
  }
  .slide-item {
    transform: scale(0.95);
    &.slick-center {
      transform: scale(1);
    }
  }
  .slick-arrow.slick-prev {
    left: 300px;
  }
  .slick-arrow.slick-next {
    right: 300px;
  }
  .product-item {
    position: relative;
    &:after {
      display: block;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .top {
      position: absolute;
      top: 30px;
      left: 30px;
      color: #fff;
      font-weight: 800;
      font-size: 15px;
    }
    .center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-weight: 800;
      font-size: 80px;
    }
  }
  .slick-center {
    .product-item {
      &:after {
        display: none;
      }
    }
  }
}
