// ------- common ------- //
* {
  font-family: "Noto Sans", sans-serif !important;
}
html,
body {
  font-size: 10px;
  letter-spacing: -0.5px;
  font-family: "Noto Sans", sans-serif !important;
  min-width: 1900px;
}
body {
  &.no-scroll {
    overflow: hidden;
  }
}
a {
  color: inherit;
}
em {
  font-style: normal;
}
.ir {
  text-indent: -9999px;
  display: block !important;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  padding: 0;
  position: fixed;
  left: -9999px;
  white-space: nowrap;
  font-size: 1px !important;
  transform: translateX(-100px) scale(0.0001);
  z-index: -1;
}
.hidden {
  display: none !important;
}
.bold {
  font-weight: bold !important;
}
.display-block {
  display: block;
}
.display-inblock {
  display: inline-block;
}
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.wrap {
  flex-wrap: wrap;
}
.w100 {
  width: 100%;
}
.ir {
  overflow: hidden;
  text-indent: -9999px;
}

.ellipsis-one {
  @include ellipsis(1);
}
.ellipsis-two {
  @include ellipsis(2);
}

// ------- layout ------- //
