$black: #000;
$white: #fff;
$primary: #3428c9;

//black
$black1: #333;

//red
$red1: #b40000;

//blue
$blue1: #3428c9;
$blue2: #337ab7;

$placeholder: #a2a2a2; //임시
// $disabled
$color-disabled-01: rgb(221, 221, 221);

//---------- value ----------//
$headerHeight: 6rem;
$pc-small: "max-width: 1200px";
$tablet: "max-width: 990px";
$mobile: "max-width: 768px"; //Galaxy fold 717 x 512 foldMin 280
// $foldMax: "max-width: 717px"; //Galaxy fold 717 x 512
// $mobile-small: "max-width: 320px";
