$black: #000;
$white: #fff;
$primary: #000;

//black
$black1: #333;
$black-01: #333;

$bgcolor-gray-01: #f7f7f7;
$bgcolor-gray-02: #f9f9f9;
$bgcolor-gray-03: #f7f8fa;
$bgcolor-gray-04: #f1f0f4;
$bgcolor-gray-05: #eff1f3;
$bgcolor-gray-06: #e4e4e4;
$bgcolor-gray-07: #e5e8eb;

$color-gray-01: #333333;
$color-gray-02: #dcdcdc;
$color-gray-03: #ababab;
$color-gray-04: #555555;
$color-gray-05: #777;

$color-red-01: #ff4000;

$border-color-01: #cccccc;
$border-color-02: #dadada;
$border-color-03: #c4c4c4;
$border-color-04: #e9e9e9;

$placeholder: #777777; //임시
// $disabled : ;
$color-disabled-01: rgb(221, 221, 221);

//---------- value ----------//
